<CompanyPolicy Company="AIT" Version="1.0">
  <Documentation>
	  <Configuration Name="Debug" enabled="true" />
    <Configuration Name="Release" enabled="true" />    
    <Configuration Name="Staging" enabled="true" />    
  </Documentation>
  <StaticCodeAnalysis>
	  <Configuration Name="Debug" enabled="true" ruleSet="AIT.ruleset" />
    <Configuration Name="Release" enabled="true" ruleSet="AIT.ruleset" />    
    <Configuration Name="Staging" enabled="true" ruleSet="AIT.ruleset" />
  </StaticCodeAnalysis>
  <Signing>
	  <Configuration enabled="true" keyFile="AIT_TemporaryKey.snk" />
  </Signing>
  <CodeAnalysisDictionary>
    <Configuration dictionary="AIT.CodeAnalysisDictionary.xml" />
  </CodeAnalysisDictionary>
  <StyleCop>
    <Configuration settings="Settings.StyleCop" enableBuildIntegration="true" />
  </StyleCop>
  <Resharper>
    <Configuration settings="AIT.DotSettings" />
  </Resharper>
</CompanyPolicy>